@model  MvcStok.Models.Entity.Tblurunler

@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input style="width:250px" type="Text" class="form-control " name="UrunAdı" required="" maxlength="50" />
    </div>
    <div>
        <label>marka</label>
        <input style="width:250px" type="Text" class="form-control " name="Marka"required="" maxlength="50"/>
    </div>
    <div>
        <label >Kategori</label>
        @Html.DropDownListFor(m => m.TblKategoriler.KategoriID, (List<SelectListItem>)ViewBag.dgr, new { @Style="width:250px" ,@class = "form-control" })
    </div>
    <div>
        <label>Fiyat</label>
        <input style="width:250px" type="Text" class="form-control " name="Fiyat" required="" maxlength="50"/>
    </div>
    <div>
    <label>Stok</label>
    <input style="width:250px" type="Text" class="form-control " name="Stok" required="" maxlength="50"/>
</div>
    <div style="margin-top:15px">
        <button class="btn btn-primary"id="btn1">Ürünü Ekle</button>
    </div>
    <script>
        $("#btn1").click(function () {
            alert("Ürün ekleme yapıldı!");
        });
</script>

</form>

