@using MvcStok.Models.Entity;

@model List<TblMusteriler>
@{
    ViewBag.Title = "Musteriler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Musteriler", "Musteri", FormMethod.Get))
{
    <p>
        Aranacak Müşteri Adı:@Html.TextBox("p")
        <input type="submit"  value="Ara" />

    </p>
}
<table class=" table table-bordered">
    <tr>

        <th>Müsteri Id</th>
        <th>Müsteri Adı</th>
        <th>Müsteri Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    <tbody>
        @foreach (var musteris in Model)
        {
            <tr>
                <td>@musteris.MusteriID</td>
                <td>@musteris.MusteriAD</td>
                <td>@musteris.MusteriSoyad</td>
                <td>@Html.ActionLink("Sil", "SIl", new { id = musteris.MusteriID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize Emin Misiniz')" })</td>
                <td><a href="/Musteri/MusteriGuncelle/@musteris.MusteriID" class="btn btn-info ">Güncelle</a></td>


            </tr>

        }
    </tbody>
</table>

<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri Ekle</a>


