@model MvcStok.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MusteriAD ,new { @style = "width:250px", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAD , "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyad</label>
        <input style="width:450px" type="Text" class="form-control " name="MusteriSoyad" />
    </div>
    <div style="margin-top:15px">
        <button  class="btn btn-primary" >Müşteriyi Ekle</button>
    </div>

</form>

